.dropdown-menu {
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    background: purple;
}
.dropdown-menu li{
    background: purple;
    cursor:pointer;
}

.dropdown-menu.clicked {
    display: none;
}
.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    background: purple;

}
@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
}