@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap');

body, html {
    box-sizing: border-box;
    margin: 0px;
}
.bodyAbout{
    background-color: rgb(41, 0, 41);
    font-family: 'Open Sans', sans-serif;
}
.navBar{
    padding: 10px;
    font-size: 18px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.navLink {
    background-color: rgb(41, 0, 41);
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    width: 70px;
    border-radius: 5px;
    padding: 5px;
}
.navLink:hover{
    background-color: white;
    color:  rgb(41, 0, 41);
    box-shadow: 0px 0px 5px 5px lightgray;
}
.Link {
    text-decoration: none;
    color: white;
}
.Link:hover {
    text-decoration: none;
    color: rgb(41, 0, 41);
}
.Link:visited{
    text-decoration: none;
}

.topAbout{
    margin: 10px;
    padding: 20px; 
    border-radius: 10px;
    color: white; 
}
.topAbout:hover{
    background-color: whitesmoke;
    color: black; 
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.topAbout h2{
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Staatliches', cursive;
    font-size: xx-large;
}
.btnAdd{
    background-color:rgb(41, 0, 41);
    color: white;
    padding: 5px;
    border-radius: 7px;

}
.gifDiv{
    width: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topBanner{
    width: 100%;
    height: 100px;
    background-image: '../../public/img/booksOpen.jpg';  
}
.imgBooks{
    width: 100px;
    height: auto;
}

